.description-container {
  background-color: yellow;
  display: flex;
  justify-content: center;
}

.description-container p {
  margin: 0;
  display: none;
  animation-duration: 0.7s;
}

input[name="control"]:nth-child(1):checked ~ .control-wrap .description-container p:nth-child(1),
input[name="control"]:nth-child(2):checked ~ .control-wrap .description-container p:nth-child(2),
input[name="control"]:nth-child(3):checked ~ .control-wrap .description-container p:nth-child(3),
input[name="control"]:nth-child(4):checked ~ .control-wrap .description-container p:nth-child(4) {
  display: block;
  animation-name: opacity;
}
@keyframes opacity {
  0% {
  opacity: 0;
  display: block;
  }
  100% {
  opacity: 1;
  }
}