@media (max-width: 700px) {
  .slider-container {
    width: 100%;
  }

  .control-wrap {
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
  }

  .control-container {
    margin-top: 2%;
  }

  .slider {
    height: 70%;
  }
}